<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototypese">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrototypeSE">
        <activity android:name=".SearchSurveyActivity"></activity>
        <activity android:name=".TopUpActivity" />
        <activity android:name=".WithdrawActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SurveyDetailActivity" />
        <activity android:name=".SurveyHistoryActivity" />
        <activity android:name=".YourSurveyActivity" />
        <activity android:name=".CreateSurveyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SurveyCompletedActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>